:root {
  --clr-primary-500: rgb(198, 190, 238);
  --clr-secondary-400: rgb(226, 221, 255);
  --clr-secondary-300: rgb(30, 21, 71);
  --clr-neutral-200: rgb(127, 119, 134);
  --clr-neutral-100: rgb(255, 255, 255);

  --fw-400: 400;
  --fw-700: 700;

  --fs-400: 3.5rem;
  --fs-300: 1.5rem;
  --fs-200: 1.1rem;
  --fs-100: .8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* outline: 1px solid limegreen !important; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: var(--clr-primary-500);

  font-size: 62.5%;
}

.container {
  min-height: 95%;
  width: min(90%, 120rem);

  padding: 3rem 4rem;
  margin-inline: auto;

  background: var(--clr-neutral-100);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;

  font-size: var(--fs-200);
  font-weight: var(--fw-700);

  color: var(--clr-secondary-300);
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  display: inline-block;
}

.logo-img {
  min-height: 3rem;
  max-width: 3rem;

  margin-right: 0.5rem;
}

.logo-name {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);

  margin-right: 1.5rem;
}

.logo-name:hover {
  text-decoration: none;
}

.nav-right ul li {
  display: inline-block;

  margin-right: 1.5rem;
}

.btn-login {
  border: none;
  outline: none;
  border-radius: 0.3rem;

  background: var(--clr-secondary-300);
  color: var(--clr-neutral-100);

  padding: 0.5rem 3rem;
}

button:hover {
  background: rgba(30, 21, 71, 80%);

  cursor: pointer;
}

.content-top {
  margin-top: 4rem;
}

.content-top h1 {
  font-size: var(--fs-400);
}

.send-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: 30%;

  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0.7rem;

  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.amount {
  display: flex;
  flex-direction: column;

  line-height: 2;
}

.amount small {
  font-size: var(--fs-100);

  color: var(--clr-neutral-200);
}

.amount span {
  font-size: var(--fs-200);
}

.dollar-sign {
  display: flex;
  align-items: center;
}

.dollar-sign span {
  font-size: var(--fs-200);
}

.icon-cad {
  min-height: 2rem;
  max-width: 2rem;

  margin-right: .5rem;
}

.btn-send {
  border-radius: 0.3rem;

  background: var(--clr-secondary-300);
  color: var(--clr-neutral-100);

  padding: 1rem 0.8rem;
}

