/*
/styles
- reset.css
- global.css - .p--lg .p--md .p--sm
- layout.css - container
- navigation.css - navbar
- modules.css - specific section styling rules

Breakpoints:
xxl - 1980px
xl - 1440px
lg - 1280px
md - 1024px
sm - 960px
xs - 480px
*/


/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL*/

:root {
  --clr-primary-500: rgb(198, 190, 238);
  --clr-primary-400: rgb(160, 145, 236);
  --clr-secondary-400: rgb(226, 221, 255);
  --clr-secondary-300: rgb(30, 21, 71);
  --clr-neutral-200: rgb(127, 119, 134);
  --clr-neutral-100: rgb(255, 255, 255);

  --fw-400: 400;
  --fw-700: 700;

  --fs-400: 3.5rem;
  --fs-300: 1.5rem;
  --fs-200: 1.1rem;
  --fs-100: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
}

body {
  background: linear-gradient(
          to top,
          var(--clr-secondary-400) 0%,
          var(--clr-secondary-400) 50%,
          var(--clr-neutral-100) 50%,
          var(--clr-neutral-100) 100%
  );
}

a {
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-300);
  text-decoration: none;
}

a:not(.logo-name):hover {
  color: var(--clr-primary-400);

  transition: .3s;
}

button {
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

button:hover {
  background: rgba(30, 21, 71, 0.8);
  cursor: pointer;
}

.button--primary {
  background: var(--clr-secondary-300);
  color: var(--clr-neutral-100);
}

.button--md {
  padding: 0.5rem 3rem;
}

.button--lg {
  padding: 1rem 0.8rem;
}

li {
  list-style: none;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

/* LAYOUT */

main {
  margin-inline: auto;
  height: 100vh;
  max-width: 1120px;
  padding: 30px;
}

.content_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 30px);
}

.content_inner {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_container--top {
  margin-top: 3rem;
}

.content_container--top h1 {
  font-size: var(--fs-400);
}

.content_container--right {
  display: none;
}

@media (min-width: 1024px) {
  .content_container--right {
    display: flex;
  }
}

/* NAVIGATION */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  display: inline-block;
}

  .logo-img {
    min-height: 3rem;
    max-width: 3rem;
    margin-right: 0.5rem;
  }

  .logo-name {
    margin-right: 1.5rem;

    font-size: var(--fs-300);
    font-weight: var(--fw-700);
  }

  .logo-name:hover {
    text-decoration: none;
  }

.nav-right ul li {
  display: inline-block;
  margin-right: 1.5rem;
}


.hamburger {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 10;

  border: none;

  background: none;

  cursor: pointer;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;

  background: #000;

  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.mobile-menu {
  position: fixed;
  top: 90px;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 30px;

  background-color: #fff;

  color: #000;

  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.10),
  inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;
}

.mobile-menu ul {
  border-bottom: #777 solid 1px;

  line-height: 3;
}

.mobile-menu a {
  text-decoration: none;
  font-size: var(--fs-400);
}

.mobile-menu a:hover {
  color: var(--clr-secondary-400);
}


@media (max-width: 950px) {
  .hamburger {
    display: block;
  }

  .navbar .nav-right,
  .navbar .nav-left ul li:nth-child(2){
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }
}

/* HERO */

.hero_inner {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
}

.hero_header h1{
  font-size: 2.5rem;
}

.hero_img{
  width: 100%;
  max-width: 500px;
}

@media (min-width: 480px) {
  .hero_header h1{
    font-size: 3rem;
    padding-bottom: 30px;
  }
}

/* FEATURES */

.features_container{
  display: flex;
  flex-direction: column;
}

.feature_item {
  height: 100%;
  max-height: 220px;
  display: flex;
  flex-direction: row;
  /*padding-right: 30px;*/
  gap: 20px;
}

.feature_details {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  gap: 10px;
}

.icon-shield,
.icon-money {
  min-height: 3rem;
  max-width: 3rem;
}

.money-transfer {
  display: block;
  min-height: 100%;
  max-width: 70%;
}

@media (min-width: 480px) {
  .features_container {
    flex-direction: row;
  }
  .feature_item {
    flex-direction: column;
  }
  .feature_details {
    gap: 20px;
  }
}


/* MODULES */

.send-amount_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.7rem;

  border-radius: 0.5rem;
  background: var(--clr-neutral-100);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  width: 100%;
  position: relative;
  top: auto;
  margin: 0 auto;
  max-width: unset;
  margin-bottom: 21px;
  margin-top: -42px;
}

.amount {
  display: flex;
  flex-direction: column;

  line-height: 2;
}

.amount small {
  font-size: var(--fs-100);
  color: var(--clr-neutral-200);
}

.amount span {
  font-size: var(--fs-200);
}

.dollar-sign {
  display: flex;
  align-items: center;
}

.dollar-sign span {
  font-size: var(--fs-200);
}

.icon-cad {
  min-height: 2rem;
  max-width: 2rem;
  margin-right: 0.5rem;
}

@media (min-width: 480px) {
  .send-amount_container {
    position: absolute;
    top: 50%;
    height: 84px;
    width: 100%;
    max-width: calc(100% - 60px);
    margin-bottom: auto;
  }
}

@media (min-width: 1024px) {
  .send-amount_container {
    max-width: calc(1160px / 2);
  }
}
