:root {
  --clr-primary-500: rgb(198, 190, 238);
  --clr-primary-400: rgb(160, 145, 236);
  --clr-secondary-400: rgb(226, 221, 255);
  --clr-secondary-300: rgb(30, 21, 71);
  --clr-neutral-200: rgb(127, 119, 134);
  --clr-neutral-100: rgb(255, 255, 255);

  --fw-400: 400;
  --fw-700: 700;

  --fs-400: 3.5rem;
  --fs-300: 1.5rem;
  --fs-200: 1.1rem;
  --fs-100: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: var(--clr-primary-500);

  font-size: 62.5%;
}

.container {
  min-height: 95%;
  width: min(90%, 120rem);
  padding: 3rem 4rem;
  margin-inline: auto;

  border-radius: 1.5rem;

  background: linear-gradient(
    to top,
    var(--clr-secondary-400) 0%,
    var(--clr-secondary-400) 50%,
    var(--clr-neutral-100) 50%,
    var(--clr-neutral-100) 100%
  );

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-300);
  text-decoration: none;
}

a:not(.logo-name):hover {
  color: var(--clr-primary-400);

  transition: .3s;
}

li {
  list-style: none;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  display: inline-block;
}

.logo-img {
  min-height: 3rem;
  max-width: 3rem;
  margin-right: 0.5rem;
}

.logo-name {
  margin-right: 1.5rem;

  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}

.logo-name:hover {
  text-decoration: none;
}

.nav-right ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.3rem;

  background: var(--clr-secondary-300);
  color: var(--clr-neutral-100);
}

.btn-login {
  padding: 0.5rem 3rem;
}

button:hover {
  background: rgba(30, 21, 71, 80%);

  cursor: pointer;
}

.content-top {
  margin-top: 3rem;
}

.content-top h1 {
  font-size: var(--fs-400);
}

.send-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 35%;
  margin-top: 5rem;
  padding: 0.7rem;

  border-radius: 0.5rem;

  background: var(--clr-neutral-100);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.amount {
  display: flex;
  flex-direction: column;

  line-height: 2;
}

.amount small {
  font-size: var(--fs-100);
  color: var(--clr-neutral-200);
}

.amount span {
  font-size: var(--fs-200);
}

.dollar-sign {
  display: flex;
  align-items: center;
}

.dollar-sign span {
  font-size: var(--fs-200);
}

.icon-cad {
  min-height: 2rem;
  max-width: 2rem;
  margin-right: 0.5rem;
}

.btn-send {
  padding: 1rem 0.8rem;
}

.content-bottom {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 'one two three three';
}

.col-1 {
  grid-area: one;
}

.col-2 {
  grid-area: two;
}

.col-3 {
  grid-area: three;
}

.col-1 img,
.col-2 img {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.col-1 h3,
.col-2 h3 {
  font-size: var(--fs-200);

  margin-bottom: 1rem;
}

.col-1 p,
.col-2 p {
  margin-bottom: 1rem;
  width: 50%;

  font-size: var(--fs-100);
  color: var(--clr-neutral-200);
}

.col-1 a,
.col-2 a {
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  color: var(--clr-primary-400);
  text-decoration: none;
}

.icon-shield,
.icon-money {
  min-height: 3rem;
  max-width: 3rem;
}

.money-transfer {
  display: block;
  min-height: 100%;
  max-width: 70%;
}

.hamburger {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 10;

  border: none;

  background: none;
  
  cursor: pointer;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;

  background: #000;

  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.mobile-menu {
  position: fixed;
  top: 90px;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 30px;

  background-color: #fff;

  color: #000;
  
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul {
  border-bottom: #777 solid 1px;

  line-height: 3;
}

.mobile-menu a {
  text-decoration: none;
  font-size: var();
}

.mobile-menu a:hover {
  color: var(--clr-secondary-400);
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}


@media (max-width: 950px) {
  .hamburger {
    display: block;
  }

  .navbar .nav-right,
  .navbar .nav-left ul li:nth-child(2){
    display: none;
  }


  .navbar {
    justify-content: space-between;
  }

  .content-bottom {
    grid-template-areas: 
    'one two'
    'three three';
  }
}

@media (max-width: 650px) {
  .content-bottom {
    grid-template-areas: 
    'two'
    'one'
    'three';
  }

  .content-top h1 {
    font-size: 2.2rem;
  }
  
  .send-amount {
    max-width: 100%;
  }
}